<div class="overlay" #overlayElement>
  <div class="form-container">
    <form class="custom-form" #formElement>
      <h4 class="form-title">Configuration</h4>
      <div class="count-container">
        <div class="form-group">
          <label for="txCount">Tx Count</label>
          <input type="number" id="txCount" name="txCount" [(ngModel)]="txCount" (input)="updateTxFields()" required>
        </div>
        <div class="form-group">
          <label for="rxCount">Rx Count</label>
          <input type="number" id="rxCount" name="rxCount" [(ngModel)]="rxCount" (input)="updateRxFields()" required>
        </div>
      </div>
      <div class="button-group">
        <button type="button" class="close-button" (click)="close()">Close</button>
        <button type="button" class="cancel-button" (click)="cancel()">Cancel</button>
        <button type="button" class="save-button" (click)="save()" [disabled]="saveButtonDisabled"
          [ngClass]="{'disabled-button': saveButtonDisabled}">Save</button>
      </div>
      <div *ngIf="showAdditionalFields" class="additional-fields" #additionalFieldsElement>
        <div class="fields-container">
          <div class="tx-fields">
            <h5>Tx Fields</h5>
            <div *ngFor="let txField of txFieldArray; let i = index" class="input-row">
              <input type="text" placeholder="Message Name" [(ngModel)]="txField.messageName" name="txMessageName{{i}}">
              <input type="number" placeholder="Start Bit" [(ngModel)]="txField.start_bit"
                [value]="getStartBit(txFieldArray, i)" (input)="updateStartBit(txFieldArray, i)" name="txStartBit{{i}}">
              <input type="number" placeholder="Length" [(ngModel)]="txField.length"
                (input)="updateStartBit(txFieldArray, i)" name="txLength{{i}}">
            </div>
          </div>
          <div class="rx-fields">
            <h5>Rx Fields</h5>
            <div *ngFor="let rxField of rxFieldArray; let i = index" class="input-row">
              <input type="text" placeholder="Message Name" [(ngModel)]="rxField.messageName" name="rxMessageName{{i}}">
              <input type="number" placeholder="Start Bit" [(ngModel)]="rxField.start_bit"
                [value]="getStartBit(rxFieldArray, i)" (input)="updateStartBit(rxFieldArray, i)" name="rxStartBit{{i}}">
              <input type="number" placeholder="Length" [(ngModel)]="rxField.length"
                (input)="updateStartBit(rxFieldArray, i)" name="rxLength{{i}}">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="bitrate">Bitrate</label>
          <input type="text" id="bitrate" [(ngModel)]="bitrate" name="bitrate">
        </div>
        <div class="form-group">
          <label for="channel">Channel</label>
          <input type="text" id="channel" [(ngModel)]="channel" name="channel">
        </div>
        <div class="form-group">
          <label for="fileName">File Name</label>
          <input type="text" id="fileName" [(ngModel)]="fileName" name="fileName">
        </div>
        <div class="button-group">
          <button type="button" class="edit-button" (click)="edit()">Edit</button>
          <button type="button" class="configure-button" (click)="configure()">Configure</button>
          <button type="button" class="close-button" (click)="close()">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>